@use "mixinsfunc";

@mixin arreglar-imagen {
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }

  ;
}

.hero {
  &__container {
    height: calc(100vh - 70px);
    background-image: linear-gradient(#000, #2f6be3ca), url('../img/office.jpeg');

    @include arreglar-imagen();
    @include mixinsfunc.crear-flexbox(center);
  }

  &__title {
    font-size: mixinsfunc.pixeles-rem(40);
    margin-bottom: mixinsfunc.pixeles-rem(10);
  }

  &__texts {
    width: 90%;
    color: white
  }

  &__paragraph {
    font-size: mixinsfunc.pixeles-rem(18);
  }
}