@use "variables";

#{variables.$nav-selector} {
  background-color: variables.$color-1;

  &__container {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }

  &__item {
    color: white;
    text-decoration: none;

    &--active {
      text-decoration: underline;
    }

    &:hover {
      color: black;
    }
  }

  @media (width > 764px) {
    &__container {
      justify-content: flex-end;
    }
  }
}